<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de empleados</span>
            <button class="btn btn-dark btn-lg" style="float: right;">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Salario</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                <th>Tomas</th>
                <td>Perez</td>
                <td>9535520416</td>
                <td>258808</td>
                <td></td>
                </tr>
                <tr>
                <th>Tomas</th>
                <td>Perez</td>
                <td>9535520416</td>
                <td>250008</td>
                <td></td>
                </tr>
                <tr>
                <th>Tomas</th>
                <td>Perez</td>
                <td>9535520416</td>
                <td>258880</td>
                <td>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash fa-lg"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
    </div>
  </div>
</div>